<h1>Create your very own Monitoring Assistant</h1>
<h4>
  Ever wonder how many times people have visited your site? Or maybe how often a specific feature is being used? Well wonder no more! This app is designed to observe and record such things. Just sign up for a free account today, and I'll help get you started!
</h4>
<%= link_to "Sign In", new_user_session_path, class: 'btn btn-info' %>
<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info' %>
